# direnv config for services deployment

use flake . --impure

export PATH="$(pwd)/.bin:$PATH"

# export env from secrets
while IFS= read -r line || [[ -n $line ]]; do
    [[ -z $line || $line == \#* ]] && continue

    export "$line"
done < <(sops -d dev.env)

echo "SOPS related utilities:"
echo ""
echo "  sops-updatekeys - Update SOPS keys for all encrypted files"
echo ""
