# direnv config for services deployment

use flake . --impure

export PATH="$(pwd)/.bin:$PATH"

echo "SOPS related utilities:"
echo ""
echo "  sops-updatekeys - Update SOPS keys for all encrypted files"
echo ""
