{
	"data": "ENC[AES256_GCM,data:A65dvYbcSUIOmo7h57lEvY3Xrh2KFNq9rBP1uHvs4VHxT5f2sCXrE7u3tCdljHgC,iv:DIqbXU+R4SdjXriiQahaD956NrtJ7Mgk3u7GuOgs8Ek=,tag:Sf36WZjZ29bqQDEExUz/dQ==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1u4gjwdwevlzwfy94lvw69t32rueujk4evypc0r6fuq0nvmua94esge30uk",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIL0w2RFNqOXJFQ1BSdEVH\nMWo3YXZGUWJoNEJwNVZZbXVCQzZ6MVZvaXpRCmtURGpCVXRueFJuYWdzclJKTHpq\nUk9aZzdJTS8wSEtaeFJ2UGpJMFQraG8KLS0tIG1uTlArdWoxOEdCRHM4TmpDT1Zq\nTDFEVG94RTNFOW9vOXo1S1V2elZFQW8Ke9RyV1CF2xR64kewV0n0GAshLau2I2h5\nk3bqO7fTzKcYPxsiLxe4VZwsUH77dV8xWfsvr5/QQAufPSGmKSDGNQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-11-04T03:17:13Z",
		"mac": "ENC[AES256_GCM,data:P9i4FT88q0ON+wwnqRzU7ar/re915t1GKhmXljLFAqSVvMS6NvAct1k0UWVBVYyxlO+dmlhMoGd7fRZQjQM9KLGtfUKWjafRHe8LqgDxfWQ6jGhKjKD+tXY3QYfE6HlSDpSMzRIpta3lD0RlDaMkhZ5EYWw6+uuhDHR4FH1GtM8=,iv:4ko4jE1cO9cBJ1gVx/FuA520lqpin7WX4A2weGrAWDY=,tag:OotAhR8bhcFVFbQq/gc/UQ==,type:str]",
		"pgp": [
			{
				"created_at": "2025-11-04T02:21:15Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhMIDn615Jx19RhwSBCMEAFmQW4qcdcd10wQ3fNKrKVqdwyi5a7WWAQu0NraAjjtH\ngDbmKCZC4X4/q7SG5Eh89erQQT0ob/+6vt5rU15k+Gs1AQiX+JxZr60JY9M0nWZ2\nQ4oMydgJR/yer89QsaXb1az6vgszhes9DMy/n+iYay7mJPGYDmG+fWQacBSXjplt\nO11MMJkG5bEcOAUMQG6UVsn2bn7W0GKABIiOs0O0TMDFzi/ElHdYdQpCBxsvt4Wm\nXgxgDtJeAQDn8W0LHas3zgqsYU1N7d77EsIGGCap+69fCKp36Iq6r01udyhTM/17\nKyupgr3o+ClanP7bC5O1XsfIZQRZiseaHd1NS5imLxRF6xKpxxzJfwL0PvNyGViW\nHea8tg==\n=QBvm\n-----END PGP MESSAGE-----",
				"fp": "F01B47BAD5FC895EE1F1B9E59FAD79271D7D461C"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.11.0"
	}
}
