generatorOptions:
  disableNameSuffixHash: true

resources:
  - namespace.yaml
  - issuer.yaml

secretGenerator:
- name: cloudflare-api-token
  namespace: cert-manager
  envs:
    - keys.env.dec

helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.1
    includeCRDs: true
    valuesInline:
      installCRDs: true
      podDnsPolicy: "Default"
      nodeSelector:
        kubernetes.io/hostname: de-hz
      extraArgs:
        - --enable-certificate-owner-ref=true
        - --dns01-recursive-nameservers-only
        - --dns01-recursive-nameservers=8.8.8.8:53,1.1.1.1:53

  - name: reflector # for copying tls secrets
    releaseName: reflector
    namespace: cert-manager
    repo: https://emberstack.github.io/helm-charts
    version: 9.1.37
    includeCRDs: true
    valuesInline:
      namespaceOverride: cert-manager

