name: "cache"
on: [ push ]
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        extra_nix_config: |
            experimental-features = nix-command flakes
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: mts-machines
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build .#gost
    - run: nix build .#gost-ui
    - name: Deploy
      run: |
        cachix push mts-machines ./result*
